/* Style for the user table container */
.Uwrapper {
  position: relative;
  z-index: 10; /* Ensure it's above other content */
  min-height: 100vh; /* Ensure it covers the entire viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('C:\Users\Teciza\Desktop\14april\admin-app-demo\src\pages\Users\pngtree-computer-lighting-technology-theme-user-link-intelligent-background-image_905379.png');
  background-size: cover; /* Ensure the background covers the entire area */
  background-position: center; /* Center the background image */
}
.user-table-container {
  max-width: 800px;
  margin: 20px auto; /* Adjust margin as needed */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a nice appearance */
  border-radius: 8px;
  background-color:rgba(241, 242, 243, 0.9);
  margin-top: 5%;
  height: 700px; /* Add fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Style for the table wrapper */
.table-wrapper {
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

/* Style for the user table */
.user-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Make the table fixed length */
}

/* Style for the table header */
.user-table th {
  background-color: #f0f0f0;
  padding: 15px 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
  font-size: 16px;
  color: #333;
}

/* Style for the table body */
.user-table td {
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #555;
  word-wrap: break-word; /* Wrap long text if needed */
  max-width: 100px; /* Set a max-width for cells */
}

/* Style for alternating row colors */
.user-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Style for table header text alignment */
.user-table th:first-child,
.user-table td:first-child {
  text-align: left;
}

/* Style for table data */
.user-table td {
  text-align: left;
}
